/* This file contains the global page styles for headers footers and menus */
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* css for header */

header {
	height: 150px;
	background: #818994;
}

#logo {
	float: left;
}

#logotitle {
	margin: 0;
	padding-top: 45px;
}

#headerright {
	float: right;
	margin: 60px 60px 0 0;
}

/* css for navigation */

#nav {
	background: #95EAFF;
	height: 35px;
	font-size: 15px;
	font-weight: 700;
	overflow: hidden;
}

.navbar {
	margin: 0;
	padding: 0;
}

.navbar li {
	list-style: none;
	float: left; 
}

.navbar li a {
	display: block;
	padding: 0 30px;
	line-height: 35px;
	color: black;
	text-decoration: none; 
}
	
.navbar li ul {
	display: none; 
	font-size: 12px;
	font-weight: normal;
}

.navbar li:hover ul, .navbar li.hover ul {
	display: block;
	position: absolute;
	z-index: 1;
	padding: 0;
	margin-left: -1px;
}
	
.navbar li:hover li, .navbar li.hover li {
	float: none;
}
	
.navbar li:hover li a, .navbar li.hover li a {
	background-color: #FFFFFF;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	color: #000000;
	font-weight: normal;
	padding: 0 8px;
	line-height: 25px;
}

.lastdrop {
	border-bottom: 1px solid;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
	
.navbar li li a:hover {
	color: #990000;
}

.navbar a:link, .navbar a:visited {
	color: #666666;
	text-decoration: none;
}

.navbar a:hover {
	background: #FFFFFF;
	color: #990000;
}

/* css for content */

#body {
	background: #95EAFF;
	height: 600px;
}

#slideshow {
	height: 350px;
	background: red;
}

.columns {
	width: 200px;
	background: #FFFFFF;
	margin: 20px 20px;
	border-radius: 6px;
	float: left;
}

.columntitle {
	font-size: 25px;
	margin: 0;
}

.columnpic {
	height: 50px;
	background: grey;
}

/* css for footer */

footer {
	height: 120px;
	background: #003399;
	color: #FFFFFF;
	font-size: 13px;
}

#copyright {
	margin: 0;
	padding-top: 30px;
}

#footerlogo {
	float: right;
	width: 120px;
	height: 120px;
	background: #000000;
}

/* formating link hover colours */

a:link, a:visited {
	color: blue;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: #990000;
}
