/* This file contains the global page styles for headers footers and menus */
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* css for header */

header {
	height: 150px;
	background: #818994;
	z-index: 8;
}

#logo {
	float: left;
}

#logotitle {
	margin: 0;
	padding-top: 45px;
}

#headerright {
	float: right;
	margin: 60px 60px 0 0;
}

/* css for navigation bar */

#nav {
	height: 30px;
}

#nav ul {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 99;
	list-style: none;
}

#nav > ul > li {
	position: relative;
	float: left; 
}

#nav > ul > li > a {
	display: block;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #003399;
	
	transition: 0.3s;
}

#nav > ul > li > a:hover {
	background: #FFFFFF;
	color: #95EAFF;
}

#nav ul ul {
	width: 160px;
	position: relative;
	z-index: 99;
	height: 0;
	overflow: hidden;
	
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
}

#nav > ul > li:hover ul, #nav > ul > li > a:hover ul {
	height: 210px;
}

#nav ul ul li {
	background: #D2F7FF;
	width: 160px;
	
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

#nav ul ul li:hover {
	background: #95EAFF;
}

#nav ul ul li a {
	display: block;
	margin: 0 12px;
	padding: 4px 0;	
	color: #003399;
	text-decoration: none;
}

#nav ul ul li a:hover, #nav ul ul li:hover > a {
	color: #FFFFFF;
}

#nav ul ul li + li a {
	border-top: 1px dotted #999999;
}

#nav ul ul li:hover + li a {
	border-top: 1px solid #D2F7FF;
}

/* css for content */

#body {
	background: #D2F7FF;
}

#relpic {
	position: relative;
	height: 350px;
}

#slideshow {
	height: 350px;
	width: 960px;
	background: red;
	position: absolute;
}

#content {
	height: 290px;
	background: #FFFFFF;
}

.columns {
	width: 200px;
	padding: 20px 20px;
	float: left;
}

.columntitle {
	font-size: 20px;
	margin: 10px 0;
	text-transform: uppercase;
}

.columnpic {
	height: 80px;
	background: grey;
}

/* css for footer */

footer {
	height: 120px;
	background: #003399;
	color: #FFFFFF;
	font-size: 13px;
}

#copyright {
	margin: 0;
	padding-top: 30px;
}

#footerlogo {
	float: right;
	width: 120px;
	height: 120px;
	background: #000000;
}

/* formating link hover colours */

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #990000;
}
